@font-face {
  /*フォントの名前*/
  font-family: "corporate-logo";
  src: url("https://www.yosshipaopao.cf/font/Corporate-Logo-Medium-ver2.ttf")
}
body {
  font-family: corporate-logo;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#parent{
  background: linear-gradient(145deg, #d1d9e0, #f8ffff);
  border-radius: 20px 20px 0px 0px;
  box-shadow: 1px 1px 5px #c5cdd4, -1px -1px 5px #ffffff;
  opacity: 0.85;
}
#child1 {
}

#child2 {
}

footer {
  border-radius: 0 0 20px 20px;
  background: linear-gradient(145deg, #d1d1d1, #f8f8f8);
  box-shadow: 1px 1px 5px #c5cdd4, -1px -1px 5px #ffffff;
  width: 75%;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: #cab64a;
}

h1{
  line-height: 1.2em;
  font-size: 300%;
  color: #ACB6E5;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #000000;
  font-size: 4vw;
  text-align: left;
  margin: 4%;
  color: #ACB6E5;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 3vw;
  margin-top: 10%;
  margin-bottom: 2%;
  color: #ACB6E5;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-size: 3vw;
}

p {
  text-align: center;
  margin: auto;
  font-size: 2vw;
}

a {
  color: #000000;
  text-decoration: none;
  font-size: 2vw;
}
img{
  transition: all 0.5s;
}

img:hover{
  transition: all 1s;
  opacity: 0.3;
}

@media (min-width: 100px) {
  #parent {
    margin: 0 auto;
    display: flex;
    width: 75%;
    height: auto;
  }
  #child1 {
    flex-grow: 1;
    width: 25%;
    height: auto;
  }
  #child2 {
    flex-grow: 1;
    width: 75%;
    height: auto;
  }
}

.twitter {
  display: inline-block;
}

#page-link {
  margin-top: -2vh;
  text-align: left;
}

#tw_ico {
  width: 2vw;
}

#yt_ico {
  width: 2vw;
}

#gt_ico {
  width: 2vw;
}

.mgr-ico {
  margin: 1.3vw;
}

.follow {
  margin-top: 5vh;
  text-align: center;
}

.icons{
  opacity: 1;
  transform: all 0.5s;
}
.icons:hover{
  opacity: 0.5;
}

#icon {
  margin: 5%;
  margin-top: 20%;
  border-radius: 100vw;
  text-align: center;
  width: 14vw;
}

#icon:hover{
  box-shadow: 5px 5px 10px #c5cdd4, -5px -5px 10px #ffffff;
  transition-duration: 0.3s;
  opacity: 0.8;
  
}

.links {
  margin-left: 13%;
  line-height: 1.5em;
  color: #ffffff;
  background: linear-gradient(currentColor 0 0) var(--p, 0) 100% /var(--d, 0) 0.1vw  no-repeat;
  transition: 0.2s, background-position 0s 0.2s;
  
}

.links:hover {
  --d: 100%;
  --p: 100%;
}
#not_links {
  margin-left: 13%;
  line-height: 1.5em;
  text-decoration: underline;
  color: #000000;
}

#samnale {
  width: 75%;
}
.works{
  
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 10vh;
}

.youtube iframe {
  border-radius: 3vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  transform: translateX(13%);
  -webkit-transform: translateX(13%);
  -ms-transform: translateX(13%);
}

/*.works{
  display: inline-block;
  background-color: #dddddd;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 0 rgba(0,0,0,0.3);
  //box-shadow: -5px -5px 0 rgba(0,0,0,-0.3);
}*/

.works{
  height: 100%;
  border-radius: 3vw;
  box-shadow: 5px 5px 10px #c5cdd4, -5px -5px 10px #ffffff;
  transition: all 0.5s;
}

.works:hover{
  box-shadow: none;
  transform: translate3d(0, 0, 10px);
  opacity: 0.8;
}

ul{
  margin: auto;
  height: auto;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li{
  text-align: center;
  width: 30%;
  padding: 1%;
  margin: 2% auto;
}

.work-img{
  width: 100%;
  border-radius: 3vw 3vw 0 0;
}

.work-title{
  color:　#f1b8b8;
  height: auto;
  text-align: center;
  margin: 5% 0;
  
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.min-font{
  font-size: 1.5vw;
}

button{
  margin: 10%;
  width: 40vw;
  height: 20vh;
  border-radius: 10vw;
  background: linear-gradient(145deg, #d1d9e0, #f8ffff);
  box-shadow: 5px 5px 10px #c5cdd4, -5px -5px 10px #ffffff;

}

button:hover{
  box-shadow: none;
  transform: translate3d(0, 0, 10px);
  transition-duration: 0.3s;
  opacity: 0.8;
}
