header {
  margin-top:-150px;
}

#inside {
  margin-top:150px;
}

#inside h1 {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 5px;
}
 
#inside p {
    width: 50%;
    line-height: 2;
    display: inline-block;
    background-color: #03A9F4;
    padding: 20px;
    position: relative;
    z-index: 999;
    margin: 50px 0 0;
    color: #fff;
    letter-spacing: 2px;
}
 
#inside a {
    color: #fff;
    text-decoration: none;
    background-color: #00d468;
    display: block;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #008a44;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin: 110px auto 0;
    letter-spacing: 2px;
}
 
#inside h1::after {
    content: "";
    display: block;
    border-bottom: solid 5px #2196F3;
    position: absolute;
    width: 100px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5px;
}
 
#inside img {
    height: 300px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 30px;
}


/*CloudRoom*/

/* 画面外にいる状態 */
.cloud-room {
	opacity : 0.1;
	transform : translate(0, 50px);
	transition : all 500ms;
	}

/* 画面内に入った状態 */
.cloud-room.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}

