body{
  text-align: center;
  background-color: #000040;;
}
#child1 {
  background-color: lightblue;
}
#child2 {
  background-color: lightgreen;
}
footer {
  width: 75%; 
  height: 7vh;
  margin: auto;
  margin-top: -5vh;
  text-align: center;
  background-color: #cab64a;
}
h1{
  text-align: center;
  font-size: 3vw;
}
h2{
  color: #000000;
  font-size: 4vw;
  text-align: left;
  margin: 4%;
}
h3{
  font-size: 3vw;
  margin-top: 4%;
  margin-bottom: 2%;
}
h4{
  font-size: 3vw;
}
p{
  font-size: 2vw;
}
a{
  text-decoration: none;
  font-size: 2vw;
}
@media (min-width: 100px) {
  #parent {
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    width: 75%;
    height: auto;
  }
  #child1 {
    flex-grow: 1;
    width: 25%;
  }
  #child2 {
    flex-grow: 1;
    width: 75%;
  }
}
.twitter{
  display: inline-block;
}
#page-link{
  margin-top: -2vh;
  text-align: left;
}
#tw_ico{
  width: 2vw;
}
#yt_ico{
  width: 2vw;
}
#gt_ico{
  width: 2vw;
}
.mgr-ico{
  margin: 1.3vw;
}

.follow{
  margin-top: 5vh;
  text-align: center;
}
#icon{
  margin: 5%;
  border-radius: 100vw;
  text-align: center;
  width: 14vw;
}
.links {
  margin-left: 13%;
  line-height: 1.5em;
  color: #F5F5F5;
  background: 
      linear-gradient(currentColor 0 0) 
      var(--p, 0) 100% /var(--d, 0) 0.4vw 
      no-repeat;
  transition: 0.2s, background-position 0s 0.2s;
}
.links:hover {
  --d: 100%;
  --p: 100%;
}
#not_links{
  margin-left: 13%;
  line-height: 1.5em;
  text-decoration: underline;
  color: #000000;
}

#samnale{
  width: 75%;
}

.youtube{
  position: relative;
  padding-bottom : 56.25%;
  margin-bottom: -18vh;
}
.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
    transform: translateX(13%);
    -webkit-transform: translateX(13%);
    -ms-transform: translateX(13%);
}

