* {
  margin:0; padding:0;
}
header {
  position: fixed;
  height: 100px;
  width: 100%;
  padding: 15px 0;
  background-color: #337079;
  color: white;
}
header .headline{
    line-height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
}
.nav-list {
    line-height: 100px;
    float: left;
    margin-left: 30px;
    list-style: none;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
footer {
  width: 100%;
  height: 120px; 
  text-align: center;
  padding: 50px 0;
  background-color: #cab64a;
}
.footer-text {
  color: #fff;
}
