
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* スクロールの背景の設定 */

 ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: 0 0 4px #aaa inset;
}


/* スクロールのつまみ部分の設定 */

 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #616161;
}
