#scroll_box {
  width: 300px;
  height: 200px;
  overflow: scroll;
  white-space: nowrap;
}

/* スクロールの幅の設定 */
#scroll_box::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* スクロールの背景の設定 */
#scroll_box::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}

/* スクロールのつまみ部分の設定 */
#scroll_box::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(to bottom, #ff0a0a 0%,#f718e4 25%,#f4ff28 50%,#1fc644 75%,#128ae5 100%);
}
