@charset "utf-8";
/* CSS Document */

body {
    width: 80%;
    text-align: center;
    font-family:'Noto Sans JP',sans-serif;
    background-color:#f6f5f4;
 }
 
 .side {
   background-color:#ff838b;
   width:20%;
   height:1000px;
   text-align:center;
 } 
 
 .content {
   background-color:#b3d874;
   width: 55%;
   height:1000px;
   text-align:center;
   margin-left:5%px;/*サイドバーとメインコンテンツの間に隙間                    をあけた*/
 }
 
 article {
   display:flex;/*サイドバーとメインコンテンツを横並びにする                指定をした*/
 }
