@charset "utf-8";
/* CSS Document */

body{
font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
margin:0;
color:#313131;
}
body {
    font-family:'Noto Sans JP',sans-serif;
    background-color:#f6f5f4;
 }
 
 .side {
   background-color:#ff838b;
   width:20%;
   height:60%;
 }